
<!---
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-brand">
        <a class="navbar-brand" href="/">
          Browsing spotify
        </a>
      </li>
    </ul>
    
    <ul class="navbar-nv navbar-right">
      <li class="nav-item">
        <button class="btn btn-outline-success" id="block" role="button" href="http://localhost:8888/login">Log in</button>
      </li>
    </ul>
  -->
  <body>
    <div class="muzieknootjes">
      <div class="noot-1">
      &#9835; &#9833;
    </div>
    <div class="noot-2">
      &#9833;
    </div>
    <div class="noot-3">
      &#9839; &#9834;
    </div>
    <div class="noot-4">
      &#9834;
    </div>
    </div>
    
  
    <div class="topnav">
      <a>Browsing Spotify</a>
      <div class="topnav-right">
        <a class="btn btn-outline-success" id="block" role="button" href="http://localhost:8888/login">Log in</a>
      </div>
      <div class="topnav-right">
        <a class="btn btn-outline-success" id="block" role="button" href="http://localhost:4200">Home</a>
      </div>
    </div>
    </body>
    
  <main class="container-fluid">
  <router-outlet></router-outlet>
  </main>